@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-white: #fef7ee;
  --color-yellow-200: #f6c768;
  --color-gray-500: #6f757c;
  --color-gray-600: #4d5562;
  --color-black-50: #1b1d1f;
  --color-black-100: #111315;
  --color-brown: #302522;
  --color-blueSky: #bee3cc;
  --color-redWhite: #ed735d;

  --breakpoint-sm: 640px;
  --breakpoint-xl: 1280px;
  --breakpoint-lg: 1024px;
  --font-sans: "DM Sans", sans-serif;
}

@layer base {
  body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--color-black-100);
    font-family: var(--font-sans);
    font-size: 1rem;
  }
}

@layer components {
  .heading {
    font-size: 2rem;
  }
  .label {
    font-size: var(--text-sm);
  }
  .smallText {
    font-size: 0.625rem;
  }
  .priceText {
    font-size: var(--text-xs);
  }
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
